body{
  margin: auto;
  background-image: url("../images/ACBackground.png");
  background-size: cover;
  background-position: 100% 50%;
}

header{
  height: 80px;
  font-size: 50px;
  text-align: center;
  margin: 10px;
}

.wrapper{
  height:490px;
  margin: 10px;
  display: flex;
}

main{
  margin:0px;
  height: 100%;
  width: 75%;
  display:flex;
  justify-content: center;
}

aside{
  display:flex;
  margin: 0px 20px;
  height: 100%;
  width: 20%;
  flex-direction: column;
  text-align: center;

}

aside > div{
  border:1px solid black;
  border-radius: 7px;
  padding:15px 10px;
  margin: 10px;
  background-color: white;
}

.container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;

}

.win_modal{
  position:absolute;
  height:50%;
  width: 50%;
  background-color:mediumspringgreen; /* Black w/ opacity */
  align-self: center;
  z-index: 1;

}

.win_modal button{
  display: block;
}

.card_div{
  position: relative;
  width: 13%;
  height: 28%;
  margin: 10px;


}

.card_front{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;

}
  .card_back{
  position: absolute;
  background-image: url("../images/lfz-card.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;

}

.kkslider{
  background-image: url("../images/KKSlider.png");
}

.tomnook{
  background-image: url("../images/TomNook.png");
}

.isabelle{
  background-image: url("../images/Isabelle.png");
}

.reese{
  background-image: url("../images/Reese.png");
}

.cyrus{
  background-image: url("../images/Cyrus.png");
}

.resetti{
  background-image: url("../images/Resetti.png");
}

.sable{
  background-image: url("../images/Sable.png");
}

.mabel{
  background-image: url("../images/Mabel.png");
}

.blathers{
  background-image: url("../images/Blathers.png");
}

.hidden{
  display: none;
}

.invisible{
  visibility: hidden;
}
