@font-face{
  font-family: Humming;
  src:url("../fonts/nintendoP_Humming-E_002pr.otf");
}

@font-face{
  font-family: Fink;
  src:url("../fonts/FinkHeavy.otf");
}

body{
  user-select: none;
  margin: 0;
  background-image: url("../images/ACBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  box-sizing: border-box;
}

.modal-cover{
  position: fixed;
  z-index: 1;
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

header{
  font-family: Fink;
  text-align: center;
  margin: 10px;
  color: rgb(250,201,58);
  -webkit-text-stroke-width: .066em rgb(149,109,40);
  text-shadow: .1em .1em 0  rgb(149,109,40),
   -.033em -.033em 0  rgb(149,109,40),
    .033em -.033em 0  rgb(149,109,40),
   -.066em  .066em 0  rgb(149,109,40),
    .066em  .066em 0  rgb(149,109,40);
}

.wrapper{
  height:100%;
  display: flex;
}

main{
  height: 80vmin;
  width: 150vmin;
  display:flex;
  justify-content: center;
}

main img{
  position: absolute;
  z-index: -1;
  height:35vmin;
}

aside{
  display:flex;
  margin: 0px 10px;
  height: 100vh;
  width: 40vmin;
  flex-direction: column;
  text-align: center;
  color:rgb(255,255,255);
}

.stats-header{
  font-family:Fink;
  -webkit-text-stroke-width: .066em #268a16;
  text-shadow: .1em .1em 0  #268a16,
   -.033em -.033em 0  #268a16,
    .033em -.033em 0  #268a16,
   -.066em  .066em 0  #268a16,
    .066em  .066em 0  #268a16;
}

.stats-container{
  font-family: Humming;
  padding:5% 13% 12% 13%;
  margin: 5% 6%;
  background-image:url("../images/statbox.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.stats-container :nth-child(odd){
  position:relative;
  bottom: 5%;
  color: rgb(20, 85, 28);
}

.games-played, .attempts, .accuracy{
  position: relative;
  top: 3%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-self: flex-start;
}

.win-modal{
  position:absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:60vmin;
  width:80vmin;
  background-image: url("../images/bulletinboard.png");
  background-size: cover;
  align-items: center;
  align-self: center;
  z-index: 1;
}

.modal-text{
  font-size: 8vmin;
  line-height: 7vmin;
  font-family: Humming;
  color:rgb(20, 85, 28);
  text-align: center;
}

.win-modal button{
  font-family: Humming, sans-serif;
  box-shadow: 3px 4px 0px 0px #caefab;
	background:linear-gradient(to bottom, #9ee65f 5%, #5cb811 100%);
	background-color:#9ee65f;
	border-radius:2em;
	border:1px solid #268a16;
	cursor:pointer;
  color:#ffffff;
  margin-top:7%;
	padding:7px 25px;
	text-shadow:0px 1px 0px #506141;
}

.win-modal button:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #9ee65f 100%);
	background-color:#5cb811;
}
.win-modal button:active {
	position:relative;
	top:1px;
}

.card-div{
  position: relative;
  width: 13%;
  height: 28%;
  margin: 1%;
  clip-path: url(#leaf);
  cursor:pointer;
}

.card-div:hover{
  transform: scale(1.2,1.2);
  transition: 200ms;
}
.card-front, .card-back{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.card-back{
  background-image: url("../images/cardback.png");
}

.kkslider{
  background-image: url("../images/KKSlider.png");
}

.tomnook{
  background-image: url("../images/TomNook.png");
}

.isabelle{
  background-image: url("../images/Isabelle.png");
}

.reese{
  background-image: url("../images/Reese.png");
}

.cyrus{
  background-image: url("../images/Cyrus.png");
}

.resetti{
  background-image: url("../images/Resetti.png");
}

.sable{
  background-image: url("../images/Sable.png");
}

.mabel{
  background-image: url("../images/Mabel.png");
}

.blathers{
  background-image: url("../images/Blathers.png");
}

.hidden{
  display: none;
}

.disable{
  pointer-events: none;
}

.invisible{
  visibility: hidden;
}

.translucent-white{
  background-color: rgb(255,255,255,0.5);
}

.opaque-black{
  background-color: rgb(0,0,0);
}

.header-xl{
  font-size: 5em;
}

.body-xl{
  font-size: 1.5em;
}

@media screen and (max-width: 1475px){
.header-lg{
  font-size: 4em;
}

  .body-lg{
  font-size: 1em;
}}

@media screen and (max-width: 1000px){
  .header-md{
    font-size: 2em;
  }

  .body-md{
    font-size: .7em;
  }
}

@media screen and (max-width: 700px){
  .header-sm{
    font-size: 1.7em;
  }

  .body-sm{
    font-size: .5em;
  }
}

@media screen and (max-width: 500px){
  .header-xs{
    font-size: 1.5em;
  }

  .body-xs{
    font-size: .3em;
  }
}
